MYSQL84_HOST=
MYSQL84_PORT=
MYSQL84_USERNAME=
MYSQL84_PASSWORD=
MYSQL84_DATABASE=

MYSQL51_HOST=
MYSQL51_PORT=
MYSQL51_USERNAME=
MYSQL51_PASSWORD=
MYSQL51_DATABASE=

JWT_SECRET=

S3_DOMAIN=
S3_ENDPOINT=
S3_ACCESS_KEY=
S3_SECRET_KEY=
S3_BUCKET_NAME=

TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=

MAILGUN_DOMAIN=
MAILGUN_API_KEY=
MAIL_SENDER_ADDRESS=